<br/>
<p>
1. <br/>
타입을 읽고 해당 데이터 타입에 따라 한글로 출력하는 함수를 만든다.<br/>
(세 가지 타입만 구분한다. 정수, 부동소수점, 문자열)<br/>
아래는 예시답안입니다.<br/>
<p>

In [26]:
def q1(num):
    n=type(num)
    if n == int:
        print("정수입니다.")
    elif n == float:
        print("부동소수점입니다.")
    elif n == str:
        print("문자열입니다.")

q1(0.8)

부동소수점입니다.

In [8]:
def q1(arg) :
    
    return
q1(0.5)

<br/>
<p>
2. <br/>
다음 함수를 만드시오.<br/>
for 반복문을 이용하여 0부터 100까지 정수로 이루어진 리스트를 만든다.<br/>
반복문을 이용하여 리스트 내 모든 정수를 제곱한다.<br/>
해당 리스트를 리턴(반환)한다. 그리고 반환된 결과를 출력한다.<br/>
아래는 예시답안입니다.<br/>
</p>

In [25]:
def q2():
    l=[]
    a=1
    for i in range(101):
        a=i**2
        l.append(a)
    return l

num_list=q2()
print(num_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [46]:
def q2() :
    l = None
    return l
print(q2())

None

<br/>
<p>
    3. <br/>
    mySet, myList에 아래 값을 저장하라.<br/>
    0, 1, 2, 3, 4, 5, 4, 3, 2, 1, 0<br/>
    각 배열의 크기를 출력하고 왜 각 배열의 크기가 다른 지 설명문을 출력하라<br/>
    아래는 예시답안입니다. 배열 길이를 출력하는 print 함수 안에 '숫자'를 써서는 안됩니다.<br/>
</p>

In [29]:
mySet = {0,1,2,3,4,5,4,3,2,1,0}
myList = [0,1,2,3,4,5,4,3,2,1,0]

sd=len(mySet)
ld=len(myList)

print("mySet 배열 길이 :",sd)
print("myList 배열 길이 : ",ld)
print("왜냐하면 set 배열은 집합 모델이므로 배열 내 값들의 중복을 허용하지 않는다.")
print("왜냐하면 List 배열은 수열 모델이므로 모든 원소들을 저장할 수 있다.")

mySet 배열 길이 : 6
myList 배열 길이 :  11
왜냐하면 set 배열은 집합 모델이므로 배열 내 값들의 중복을 허용하지 않는다.
왜냐하면 List 배열은 수열 모델이므로 모든 원소들을 저장할 수 있다.

In [2]:
mySet = {0, 1, 2, 3, 4, 5, 4, 3, 2, 1, 0}
myList = [0, 1, 2, 3, 4, 5, 4, 3, 2, 1, 0]
print("mySet 배열 길이 :", 0)
print("myList 배열 길이 :", 0)
print("왜냐하면 set 배열은 .")
print("왜냐하면 List 배열은 .")

mySet 배열 길이 : 6
myList 배열 길이 : 11
왜냐하면 set 배열은 집합 모델이므로 배열 내 값들의 중복을 허용하지 않는다.
왜냐하면 List 배열은 수열 모델이므로 모든 원소들을 저장할 수 있다.

<br/>
<p>
    4. <br/>실용문제 <br/>
    이산수학을 듣는 학생 미미는 수업 이후 경우의 수를 세는 방법에 대해 관심을 가졌다. <br/>
    그래서 아래 보기에 대해 파이썬으로 프로그래밍을 하는 데, 중간에 막혔다고 한다. <br/>
    미미를 도와 보기 문제를 풀도록 하자.<br/>
    <보기><br/>
    1. 오늘 학생 식당에는 n개의 식사 메뉴가 있다. 두 가지 메뉴를 구매한다고 했을 때, 식사의 가짓수를 구하여라. (당연히 똑같은 메뉴 두 개를 구매할 수도 있다.)<br/>
    2. 후식으로 아메리카노, 카페라떼, 카페모카가 있다. n명이 후식으로 먹을 수 있는 경우의 수를 구하여라. (후식은 무한정 제공할 수 있다고 가정하며 당연히 똑같은 메뉴를 구매할 수 있다.)
    <br/> 아래는 예시답안입니다. <br/>
</p>

In [24]:
def facto(n):
    nf=1
    for i in range(1,n+1):
        nf*=i
    return nf

def countmeal(n, affordnum) :
    n1=n+affordnum-1
    result=facto(n1)/(facto(n1-affordnum)*facto(affordnum)) 
    return int(result)

def countdessert(n, menu) :
    return len(menu)**n

def printc(a, b, c) :
      if type(b)==type(0) :
            print("메뉴 수 : "+str(a)+"개, 구매할 수 있는 능력 : "+str(b)+"개, 경우의 수 : "+str(c)+"가지")
      else :
            print("사람 수 : "+str(a)+"명, 구매할 수 있는 메뉴 : "+str(len(b))+"개, 경우의 수 : "+str(c)+"가지")

meal_afford = 2
meal_number = 10 
meal_result = countmeal(meal_number, meal_afford)
printc(meal_number, meal_afford, meal_result)

dessert_menu = ("Americano", "Cafelatte", "Cafemoca")
dessert_students = 10
dessert_result = countdessert(dessert_students, dessert_menu)
printc(dessert_students, dessert_menu, dessert_result)

메뉴 수 : 10개, 구매할 수 있는 능력 : 2개, 경우의 수 : 55가지
사람 수 : 10명, 구매할 수 있는 메뉴 : 3개, 경우의 수 : 59049가지

In [1]:
def countmeal(n, affordnum) :
    return # 미미를 도와주자.

def countdessert(n, menu) :
    return # 미미를 도와주자.

def printc(a, b, c) :
      if type(b)==type(0) :
            print("메뉴 수 : "+str(a)+"개, 구매할 수 있는 능력 : "+str(b)+"개, 경우의 수 : "+str(c)+"가지")
      else :
            print("사람 수 : "+str(a)+"명, 구매할 수 있는 메뉴 : "+str(len(b))+"개, 경우의 수 : "+str(c)+"가지")

# main code
meal_afford = 2
meal_number = 10 # or any number
meal_result = countmeal(meal_number, meal_afford)
printc(meal_number, meal_afford, meal_result)

dessert_menu = ("Americano", "Cafelatte", "Cafemoca")
dessert_students = 10 # or any number
dessert_result = countdessert(dessert_students, dessert_menu)
printc(dessert_students, dessert_menu, dessert_result)

메뉴 수 : 10개, 구매할 수 있는 능력 : 2개, 경우의 수 : 20가지
사람 수 : 10명, 구매할 수 있는 메뉴 : 3개, 경우의 수 : 1000가지